.imageBlock {
  max-width: 200px;
  margin: auto;
  background-color: dimgray;
}

.mainBlock {
  margin: 1ch 6%;
}

.red {
  color: red;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

.brown {
  color: brown;
}

.green {
  color: green;
}
